@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {
    <style type="text/css">
        #gallery ul { list-style-type: none; }
    </style>
    <script type="text/javascript">
        $(function () {
            function Image(uri, deleteuri) {
                var self = this;
                self.uri = ko.observable(uri);
                self.deleteuri = ko.observable(deleteuri);
            }
            function ViewModel(_model) {
                var self = this;
                self.files = ko.observableArray([]);
                self.images = ko.observableArray([]);
                self.addUpload = function () {
                    self.files.push({});
                };
                self.removeUpload = function(file) {
                    self.files.remove(file);
                };
                function _init() {
                    self.files.push({});

                    if (_model && _model.Images && _model.Images.length > 0) {
                        for (var i = 0, max = _model.Images.length; i < max; i++) {
                            self.images.push(new Image(_model.Images[i].Url, _model.Images[i].DeleteUrl));
                        }
                    }
                }

                _init();
            }
            var model = @Html.Raw(Json.Encode(Model));
            var vm = new ViewModel(model);
            ko.applyBindings(vm, document.getElementById('gallery'));
        });
    </script>
}

<div id="gallery">

<form id="fileupload" action="@Url.Action("UploadFiles")" method="POST" enctype="multipart/form-data">
    <div id="fileupload-container">
        <ul data-bind="foreach: files">
            <li>
                <input type="file" name="files">
                <input type="button" value="remove" data-bind="click: $parent.removeUpload" />
            </li>
        </ul>
        <input type="button" value="add another uplaod" data-bind="click: addUpload" />
        <br />
        <input type="submit" value="upload" />
    </div>
</form>

<ul data-bind="foreach: images">
    <li>
        <img data-bind="attr: { src: uri }" />
        <a data-bind="attr: { href: deleteuri }">delete</a>
    </li>
</ul>

</div>
    
  
