@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section header {

}

<form id="fileupload" action="@Url.Action("UploadFiles")" method="POST" enctype="multipart/form-data">
        
    <input type="file" name="files[]" multiple>

    <input type="submit" value="upload" />
</form>
    
  
